body {
  background-color: #efefef;
  margin: 0;
}



table {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  width: 75%;
  margin: 30px;
  border-bottom: 0px solid #efefef;
}

.mapaAsientos {
	margin: 10px;
	padding: 10px;
 	text-align: center;
 	font-family: 'Courier New', Courier, monospace;
 	font-size: 16px; 	
 	border-style: initial;
 }

 .mapaAsientos tr {
 	text-align: center;
 	font-family: 'Courier New', Courier, monospace;
 	font-size: 16px;
 	color: #ff3b3f;
 	background-color: efefef;
  	border-style: solid;
 	border-radius: 10px;
 	border-color: #CAEBF2;
 }
 



.topnav {
  overflow: hidden;
  background-color:white;
  font-family: 'Courier New', Courier, monospace;
}

.topnav a {
  float: right;
  color: #a9a9a9;
  text-align: center;
  padding: 34px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #ff3b3f;
}

.topnav a.active {
  
  color: #ff3b3f;
}

