body {
  background-color: #a9a9a9;
  margin: 0;
  text-align: center;
  background-image: url(../images/airport-2.png);
  
}


h1   {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;  
  font-size: 40px;
  margin-top: 100px ;
  margin-bottom: 0;
  color: #545454;
}

h2   {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0px ;
  margin-bottom: 60px;
  font-size: 40px;
  color: #ff3b3f;
}

resaltado   {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #545454;
  padding: 8px;
  
  background-color: #CAEBF2;
}

.cuadroBlanco 
{
  
  margin-left: auto; 
  margin-right: auto;
  margin-top: 30px;
  width: 60%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;  
  font-size: 18px;
  padding: 20px 20px;
  color: #545454;
  background-color: white;
  border: 5px;
  border-color: #545454;
}


label {
  
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}



input[type=button], input[type=submit], input[type=reset] {
  font-family: 'Courier New', Courier, monospace;
  background-color: #ff3b3f;
  border: none;
  color: #efefef;
  padding: 14px 24px;
  font-size: 18px;
  text-decoration: none;
   margin: 20px 50px;
   margin-bottom: 0px;
  cursor: pointer;
  
  
}


.formularioAsiento{
  display: inline-block;
  padding: 30px;
  background-color:  rgba(84, 84, 84, 0.5);
}

.formularioVuelo{
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  padding: 60px 80px;
  margin-top: 0px;
  background-color:  rgba(84, 84, 84, 0.5);
  color: white;
}

.mapaAsientos {
  text-align: center;  
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
 
  background-color: rgba(202, 235, 242, 1);
  border-collapse: collapse;
  border: 5px #a9a9a9; 
  color: #545454;
  
}


tr, td {
  padding: 5px;
}

.topnav {
  overflow: hidden;
  background-color:white;
  font-family: 'Courier New', Courier, monospace;
}

.topnav a {
  float: right;
  color: #545454;
  text-align: center;
  padding: 34px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav ia {
  float: left;
  color: #ff3b3f;
  text-align: center;
  padding-top: 20px;
  padding-left: 25px;
  text-decoration: none;
  font-size: 20px;
  
}

.topnav a:hover {
  color: #ff3b3f;
}

.topnav a.active {
  
  color: #ff3b3f;
}

red {
  
  color: #ff3b3f;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  padding-bottom: 20px;  
  padding-top: 10px;

  background-color: rgba(239, 239, 239, 0.5);
  color: #545454;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 20px;
}


